@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Prata&family=Viaoda+Libre&display=swap');

:root {
  --background: #1B3540;
  --fore1: #FBBC89;
  --text2: #1E3A45;
}



body {
  color: var(--fore1);

  /* background: var(--background); */


  background: var(--background);
  
  font-optical-sizing: auto;
  font-family: "Prata", serif;
  font-weight: 400;

  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
